.card {
  display: flex;
  flex-direction: column;
  box-shadow: $card-box-shadow;
  background-color: $white;
  border-radius: .75rem;
  border: $card-border;

  .card-body {
    flex-grow: 1;
    padding-inline-start: 1.875rem;
    padding-inline-end: 1.875rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;

    &.card-group:not(:last-child) {
      border-bottom: $card-border;
    }
  }

  .card-header {
    display: flex;
    min-height: 56px;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    border-bottom: $card-border;
    padding-inline-start: 1.875rem;
    padding-inline-end: 1.875rem;
    padding-top: .75rem;
    padding-bottom: .75rem;

    .card-title {
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 600;
      color: $tw-coal-600;
    }
  }

  .card-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border-top: $card-border;
    padding-inline-start: 1.875rem;
    padding-inline-end: 1.875rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
  }


  &.card-colored-purple {
    background: #795CD1;
    background: linear-gradient(321deg, rgba(121, 92, 209, 1) 0%, rgba(85, 71, 189, 1) 46%);
    color: $white;
    // from #795cd1 to #5547BD
  }

  &.card-color-green {
    // from #6DBC9E to ##70B49E
    background: #6DBC9E;
    background: linear-gradient(321deg, rgba(109, 188, 158, 1) 0%, rgba(112, 180, 158, 1) 46%);
  }
}
