@import "custom";
@import "bootstrap/scss/bootstrap";
@import "loader";
@import "datep";
@import "error-state";
@import "grid";
@import "Button/buttons";
@import "Metrics/metrics";
@import "TestPlans/test-plans";
@import "Projects/projects";
@import "./Card/card";
@import "ReactModal/modals";
@import "Form/form";
@import "Tabs/tabs";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

$heading-font: "Inter", sans-serif;
$main-font: "Inter", sans-serif;
$alt-font: "Source Serif 4", serif;


.cursor-pointer {
  cursor: pointer !important;
}


body {
  overflow: hidden !important;
  background: $body-bg;


  font-family: $main-font;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

  h1, h2, h3, h4, h5, h6, .heading, input, textarea {
    font-family: $alt-font;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  th {
    font-family: $heading-font;
  }

  h2 {
    font-size: 1.375rem;
    line-height: 1.8125rem;
    font-weight: 500;
  }

  .app-wrapper {
    display: flex;
    position: relative;

    .app-pages-content {
      position: relative;
      overflow: hidden;
      overflow-y: auto;
      margin-left: $navbar-width;
      height: 100vh;
      background: $body-bg;
      padding-top: calc(#{$topbar-height} + 1.25rem);
      padding-bottom: 2.5rem;
    }
  }

  a {
    text-decoration: none;
  }

  .text-muted, a.text-muted {
    color: $tw-muted-text !important;
  }
}

.page-content-wrapper {
  padding: 0 !important;
  width: 100%;
}

.h-fit {
  height: fit-content !important;
}

.gap-xsm {
  gap: .275rem;
}

.gap-sm {
  gap: .375rem;
}

.gap-md {
  gap: .625rem;
}

.gap-lg {
  gap: 1rem;
}

.gap-xl {
  gap: 1.95rem;
}

.super-small {
  font-size: .725rem;
}

.grayscale-content {
  filter: grayscale(100%);
}

.page-width {
  max-width: 1280px;
  margin: 0 auto;
  padding-inline-start: 1.875rem;
  padding-inline-end: 1.875rem;
}

.login-width {
  width: 100vw;
  max-width: 480px;
  margin: 0 auto;
}

.login-col {
  background-image: url('/assets/login_preview_new.png');
  background-size: cover;
  border-right: 1px solid $card-border-color;
}

.login-container {
  .row {
    min-height: 100vh;
    gap: 0;

    .col {
      margin: 0;
    }
  }
}

.border-default {
  border-color: $card-border-color;
}

.form-max-width {
  max-width: 642px;
  margin: 0 auto;
}

.page-container {
  min-height: 90vh;
}

.grid-wrapper {
  height: 100%;
  min-height: 50vh;
}

.horizontal-flip-img {
  transform: scaleX(-1);
}

.error-page-wrapper {
  height: 80vh;

  h1 {
    font-size: 1.8rem;
    font-weight: 500;
  }
}

.shadow-none {
  box-shadow: none !important;
}

@import "./NavBar/navbar";
@import "./TopBar/topbar";
@import "./Footer/footer";

@import "./Pages/pages_elements";
@import "./Testing/tester-dashboard";
@import "./About/about";
@import "lightbox";
